body {
    font-family:Georgie,serif;
    font-size:12px;
    margin: 10mm 5mm 10mm 5mm;
}
h1 {
    text-align:center;
    position:relative;
}
.details{
    text-align:center;
}
.tagline{
    font-size:9px;
}
.skills p{
    margin:0;
}
.spread.left {
    float:left;
}
.spread.right {
    float: right;
}
.indent {
    text-indent: 2em;
}
ul {
    margin: 0;
    list-style-type: none;
}
ul > li {
    text-indent: -5px
}
ul > li:before {
    content: "- ";
    text-indent: -5px;
}
li {
    padding-top: 5px;
}
